.img {
    height: 900px;
    width: 1500px;
    overflow: hidden;
}

.header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;
}

.container.card {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.logo {
    font-size: 25px;
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;

}
